USE [master]
GO
/****** Object:  Database [QLBH_BANQUANAO2]    Script Date: 10/22/2023 6:42:25 PM ******/
CREATE DATABASE [QLBH_BANQUANAO2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBH_BANQUANAO2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLBH_BANQUANAO2.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLBH_BANQUANAO2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLBH_BANQUANAO2_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBH_BANQUANAO2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBH_BANQUANAO2]
GO
/****** Object:  Table [dbo].[CT_HOADONBAN]    Script Date: 10/22/2023 6:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_HOADONBAN](
	[MAHD] [char](5) NOT NULL,
	[MASP] [char](10) NOT NULL,
	[MACTSP] [nvarchar](50) NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [money] NULL,
	[CHIETKHAU] [money] NULL,
	[THANHTIEN] [money] NULL,
	[ANH] [varchar](50) NULL,
	[TRANGTHAI] [int] NULL DEFAULT ((0))
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_HOADONNHAP]    Script Date: 10/22/2023 6:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_HOADONNHAP](
	[MAHD] [char](5) NOT NULL,
	[MASP] [char](10) NOT NULL,
	[MANCC] [char](5) NOT NULL,
	[MACTSP] [nvarchar](50) NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL,
	[TRANGTHAI] [int] NULL DEFAULT ((0))
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_SANPHAM]    Script Date: 10/22/2023 6:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_SANPHAM](
	[MACTSP] [nvarchar](50) NULL,
	[MASP] [char](10) NOT NULL,
	[MASIZE] [char](3) NOT NULL,
	[MAMAU] [char](3) NOT NULL,
	[GHICHU] [nvarchar](max) NULL,
	[GIABAN] [money] NULL,
	[SOLUONG] [int] NULL,
	[ANH] [varchar](50) NULL,
	[TRANGTHAI] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[MASIZE] ASC,
	[MAMAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADONBAN]    Script Date: 10/22/2023 6:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADONBAN](
	[MAHD] [char](5) NOT NULL,
	[MANV] [char](5) NOT NULL,
	[MAKH] [char](5) NOT NULL,
	[NGAYLAPHD] [datetime] NULL DEFAULT (getdate()),
	[SOLUONG] [int] NULL,
	[CHIETKHAU] [money] NULL,
	[THANHTIEN] [money] NULL,
	[TRANGTHAI] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADONNHAP]    Script Date: 10/22/2023 6:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADONNHAP](
	[MAHD] [char](5) NOT NULL,
	[MANV] [char](5) NOT NULL,
	[MANCC] [char](5) NOT NULL,
	[NGAYLAPHD] [datetime] NULL DEFAULT (getdate()),
	[SOLUONG] [int] NULL,
	[THANHTIEN] [money] NULL,
	[CHIETKHAU] [money] NULL,
	[TRANGTHAI] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 10/22/2023 6:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [char](5) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[NGSINH] [datetime] NULL,
	[GIOITINH] [nvarchar](3) NULL,
	[DCHI] [nvarchar](50) NULL,
	[SDT] [varchar](24) NULL,
	[DCMAIL] [varchar](50) NULL,
	[NGAYTAOTK] [datetime] NULL DEFAULT (getdate()),
	[TRANGTHAI] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAISP]    Script Date: 10/22/2023 6:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAISP](
	[MALOAI] [char](3) NOT NULL,
	[TENLOAISP] [nvarchar](20) NULL,
	[TRANGTHAI] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MAU]    Script Date: 10/22/2023 6:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MAU](
	[MAMAU] [char](3) NOT NULL,
	[TENMAU] [nvarchar](20) NULL,
	[TRANGTHAI] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MAMAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 10/22/2023 6:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [char](5) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[TAIKHOAN] [nvarchar](50) NULL,
	[TENNH] [varchar](24) NULL,
	[LINK] [varchar](max) NULL,
	[DCMAIL] [varchar](50) NULL,
	[LOAISP] [char](3) NOT NULL,
	[TRANGTHAI] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 10/22/2023 6:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[ANH] [varchar](50) NULL,
	[MANV] [char](5) NOT NULL,
	[TENNV] [nvarchar](max) NULL,
	[NGSINH] [datetime] NULL,
	[DCHI] [nvarchar](max) NULL,
	[NGVAOLAM] [datetime] NULL DEFAULT (getdate()),
	[SDT] [varchar](11) NULL,
	[GIOITINH] [nvarchar](3) NULL,
	[LUONG] [money] NULL,
	[TRANGTHAI] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 10/22/2023 6:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[ANH] [varchar](50) NULL,
	[MASP] [char](10) NOT NULL,
	[MALOAI] [char](3) NULL,
	[MANCC] [char](5) NOT NULL,
	[TENSP] [nvarchar](50) NULL,
	[MOTA] [nvarchar](50) NULL,
	[DONVITINH] [nvarchar](20) NULL,
	[SOLUONG] [int] NULL,
	[GIANHAP] [int] NULL,
	[GIABANLE] [int] NULL,
	[GIADANGBAI] [int] NULL,
	[GIASI1] [int] NULL,
	[GIASI2] [int] NULL,
	[TRANGTHAI] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SIZE]    Script Date: 10/22/2023 6:42:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SIZE](
	[MASIZE] [char](3) NOT NULL,
	[TENSIZE] [varchar](5) NULL,
	[TRANGTHAI] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MASIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CT_HOADONBAN] ([MAHD], [MASP], [MACTSP], [SOLUONG], [DONGIA], [CHIETKHAU], [THANHTIEN], [ANH], [TRANGTHAI]) VALUES (N'HDB01', N'SP1       ', N'SP1.M1.S1', 10, 10.0000, 0.0000, 100.0000, N'anh1.jpg', 2)
INSERT [dbo].[CT_HOADONBAN] ([MAHD], [MASP], [MACTSP], [SOLUONG], [DONGIA], [CHIETKHAU], [THANHTIEN], [ANH], [TRANGTHAI]) VALUES (N'HDB01', N'SP2       ', N'SP2.M2.S1', 10, 10.0000, 0.0000, 100.0000, N'anh2.jpg', 2)
INSERT [dbo].[CT_HOADONBAN] ([MAHD], [MASP], [MACTSP], [SOLUONG], [DONGIA], [CHIETKHAU], [THANHTIEN], [ANH], [TRANGTHAI]) VALUES (N'HDB03', N'SP1       ', N'SP1.M1.S1', 10, 10.0000, 0.0000, 200000.0000, N'anh1.jpg', 0)
INSERT [dbo].[CT_HOADONNHAP] ([MAHD], [MASP], [MANCC], [MACTSP], [SOLUONG], [DONGIA], [TRANGTHAI]) VALUES (N'HD01 ', N'SP1       ', N'NCC1 ', N'SP1.M1.S1', 10, 20, 0)
INSERT [dbo].[CT_HOADONNHAP] ([MAHD], [MASP], [MANCC], [MACTSP], [SOLUONG], [DONGIA], [TRANGTHAI]) VALUES (N'HD01 ', N'SP1       ', N'NCC1 ', N'SP2.M2.S1', 10, 20, 0)
INSERT [dbo].[CT_SANPHAM] ([MACTSP], [MASP], [MASIZE], [MAMAU], [GHICHU], [GIABAN], [SOLUONG], [ANH], [TRANGTHAI]) VALUES (N'SP03.M2.S1', N'SP03      ', N'S1 ', N'M2 ', N'', 20.0000, 10, N'System.Windows.Forms.TextBox, Text: anh3.jpg', 0)
INSERT [dbo].[CT_SANPHAM] ([MACTSP], [MASP], [MASIZE], [MAMAU], [GHICHU], [GIABAN], [SOLUONG], [ANH], [TRANGTHAI]) VALUES (N'SP03.M2.S2', N'SP03      ', N'S2 ', N'M2 ', N'', 20.0000, 10, N'System.Windows.Forms.TextBox, Text: anh3.jpg', 0)
INSERT [dbo].[CT_SANPHAM] ([MACTSP], [MASP], [MASIZE], [MAMAU], [GHICHU], [GIABAN], [SOLUONG], [ANH], [TRANGTHAI]) VALUES (N'SP04.M3.S1', N'SP04      ', N'S1 ', N'M3 ', N'', 20.0000, 10, N'anh3.jpg', 0)
INSERT [dbo].[HOADONBAN] ([MAHD], [MANV], [MAKH], [NGAYLAPHD], [SOLUONG], [CHIETKHAU], [THANHTIEN], [TRANGTHAI]) VALUES (N'HDB01', N'NV01 ', N'KH01 ', CAST(N'2023-05-22 10:47:23.283' AS DateTime), 20, 0.0000, 1000100.0000, 2)
INSERT [dbo].[HOADONBAN] ([MAHD], [MANV], [MAKH], [NGAYLAPHD], [SOLUONG], [CHIETKHAU], [THANHTIEN], [TRANGTHAI]) VALUES (N'HDB02', N'NV02 ', N'KH01 ', CAST(N'2023-05-22 10:47:37.390' AS DateTime), 4, 0.0000, 400000.0000, 0)
INSERT [dbo].[HOADONBAN] ([MAHD], [MANV], [MAKH], [NGAYLAPHD], [SOLUONG], [CHIETKHAU], [THANHTIEN], [TRANGTHAI]) VALUES (N'HDB03', N'NV01 ', N'KH01 ', CAST(N'2023-05-22 00:00:00.000' AS DateTime), 17, 0.0000, 1600000.0000, 0)
INSERT [dbo].[HOADONNHAP] ([MAHD], [MANV], [MANCC], [NGAYLAPHD], [SOLUONG], [THANHTIEN], [CHIETKHAU], [TRANGTHAI]) VALUES (N'HD01 ', N'NV01 ', N'NCC1 ', CAST(N'2023-10-20 21:48:56.723' AS DateTime), 10, 10000.0000, 12.0000, 0)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [NGSINH], [GIOITINH], [DCHI], [SDT], [DCMAIL], [NGAYTAOTK], [TRANGTHAI]) VALUES (N'KH01 ', N'Nguyễn Trung Tín', NULL, NULL, NULL, N'0902427957', NULL, CAST(N'2023-05-22 10:38:22.900' AS DateTime), 0)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [NGSINH], [GIOITINH], [DCHI], [SDT], [DCMAIL], [NGAYTAOTK], [TRANGTHAI]) VALUES (N'KH02 ', N'Tom Nguyễn', NULL, NULL, NULL, N'1234567890', NULL, CAST(N'2023-05-22 10:38:54.233' AS DateTime), 0)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [NGSINH], [GIOITINH], [DCHI], [SDT], [DCMAIL], [NGAYTAOTK], [TRANGTHAI]) VALUES (N'KH03 ', N'Tín Nè', CAST(N'2023-05-22 00:00:00.000' AS DateTime), N'Nữ', N'', N'123456789', N'', CAST(N'2023-05-22 00:00:00.000' AS DateTime), 0)
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAISP], [TRANGTHAI]) VALUES (N'L1 ', N'Áo', 0)
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAISP], [TRANGTHAI]) VALUES (N'L2 ', N'Quần', 0)
INSERT [dbo].[MAU] ([MAMAU], [TENMAU], [TRANGTHAI]) VALUES (N'M1 ', N'Đen', 0)
INSERT [dbo].[MAU] ([MAMAU], [TENMAU], [TRANGTHAI]) VALUES (N'M2 ', N'Đỏ', 0)
INSERT [dbo].[MAU] ([MAMAU], [TENMAU], [TRANGTHAI]) VALUES (N'M3 ', N'Trắng', 0)
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [SDT], [TAIKHOAN], [TENNH], [LINK], [DCMAIL], [LOAISP], [TRANGTHAI]) VALUES (N'NCC1 ', N'ABC', NULL, NULL, NULL, NULL, NULL, N'L1 ', 0)
INSERT [dbo].[NHANVIEN] ([ANH], [MANV], [TENNV], [NGSINH], [DCHI], [NGVAOLAM], [SDT], [GIOITINH], [LUONG], [TRANGTHAI]) VALUES (N'nv1.jpg', N'NV01 ', N'Tín', NULL, NULL, CAST(N'2023-05-22 10:36:53.500' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[NHANVIEN] ([ANH], [MANV], [TENNV], [NGSINH], [DCHI], [NGVAOLAM], [SDT], [GIOITINH], [LUONG], [TRANGTHAI]) VALUES (N'nv2.jpg', N'NV02 ', N'Hiếu', NULL, NULL, CAST(N'2023-05-22 10:37:05.780' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[NHANVIEN] ([ANH], [MANV], [TENNV], [NGSINH], [DCHI], [NGVAOLAM], [SDT], [GIOITINH], [LUONG], [TRANGTHAI]) VALUES (N'nv3.jpg', N'NV03 ', N'Tín', CAST(N'2023-05-24 00:00:00.000' AS DateTime), N'', CAST(N'2023-05-22 00:00:00.000' AS DateTime), N'', N'N?', 23000.0000, 0)
INSERT [dbo].[SANPHAM] ([ANH], [MASP], [MALOAI], [MANCC], [TENSP], [MOTA], [DONVITINH], [SOLUONG], [GIANHAP], [GIABANLE], [GIADANGBAI], [GIASI1], [GIASI2], [TRANGTHAI]) VALUES (N'anh3.jpg', N'SP03      ', N'L1 ', N'NCC1 ', N'xyz', N'', N'Cái', 20, 10, 20, 25, 15, 17, 0)
INSERT [dbo].[SANPHAM] ([ANH], [MASP], [MALOAI], [MANCC], [TENSP], [MOTA], [DONVITINH], [SOLUONG], [GIANHAP], [GIABANLE], [GIADANGBAI], [GIASI1], [GIASI2], [TRANGTHAI]) VALUES (N'anh3.jpg', N'SP04      ', N'L1 ', N'NCC1 ', N'abc', N'', N'Cái', 20, 10, 20, 25, 15, 17, 0)
INSERT [dbo].[SANPHAM] ([ANH], [MASP], [MALOAI], [MANCC], [TENSP], [MOTA], [DONVITINH], [SOLUONG], [GIANHAP], [GIABANLE], [GIADANGBAI], [GIASI1], [GIASI2], [TRANGTHAI]) VALUES (N'anh1.jpg', N'SP1       ', N'L1 ', N'NCC1 ', N'ÁO THUN', NULL, NULL, 190, NULL, 10, NULL, NULL, NULL, 0)
INSERT [dbo].[SIZE] ([MASIZE], [TENSIZE], [TRANGTHAI]) VALUES (N'S1 ', N'M', 0)
INSERT [dbo].[SIZE] ([MASIZE], [TENSIZE], [TRANGTHAI]) VALUES (N'S2 ', N'S', 0)
INSERT [dbo].[SIZE] ([MASIZE], [TENSIZE], [TRANGTHAI]) VALUES (N'S3 ', N'L', 0)
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__CT_SANPH__F501C2F4A4262BFD]    Script Date: 10/22/2023 6:42:26 PM ******/
ALTER TABLE [dbo].[CT_SANPHAM] ADD UNIQUE NONCLUSTERED 
(
	[MACTSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_HOADONBAN]  WITH CHECK ADD FOREIGN KEY([MACTSP])
REFERENCES [dbo].[CT_SANPHAM] ([MACTSP])
GO
ALTER TABLE [dbo].[CT_HOADONBAN]  WITH CHECK ADD FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADONBAN] ([MAHD])
GO
ALTER TABLE [dbo].[CT_HOADONBAN]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CT_HOADONNHAP]  WITH CHECK ADD FOREIGN KEY([MACTSP])
REFERENCES [dbo].[CT_SANPHAM] ([MACTSP])
GO
ALTER TABLE [dbo].[CT_HOADONNHAP]  WITH CHECK ADD FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[CT_HOADONNHAP]  WITH CHECK ADD FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADONNHAP] ([MAHD])
GO
ALTER TABLE [dbo].[CT_HOADONNHAP]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CT_SANPHAM]  WITH CHECK ADD FOREIGN KEY([MAMAU])
REFERENCES [dbo].[MAU] ([MAMAU])
GO
ALTER TABLE [dbo].[CT_SANPHAM]  WITH CHECK ADD FOREIGN KEY([MASIZE])
REFERENCES [dbo].[SIZE] ([MASIZE])
GO
ALTER TABLE [dbo].[HOADONBAN]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADONBAN]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADONNHAP]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHACUNGCAP]  WITH CHECK ADD FOREIGN KEY([LOAISP])
REFERENCES [dbo].[LOAISP] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISP] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
USE [master]
GO
